#updatedSuccess{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -100%;
    background: #04a504;
    padding: 10px;
    margin-right: 5px;
    border-radius: 8px;
    color: #ffffff;
    transition: 0.5s ease-in-out ;
}
#errorR{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -100%;
    background: #f75c5c;
    padding: 10px;
    margin-right: 5px;
    border-radius: 8px;
    color: #ffffff;
    transition: 0.5s ease-in-out ;
}
.artContainer{
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    position: relative;
}
.uploadedArt{
    display: flex;
    flex-flow: column nowrap;
    padding: 5px;
}
.adminAction{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 5px;
}
.upload-images{
    height: 45%;
    width: 100%;
}
.upload-images img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* border-radius: 15px; */
    height: 100%;
    /*object-fit: contain;*/
    /*object-position: center;*/
}
.card{
    border-radius: 15px ;
    height: 40vh;
}
.card-body form{
    display: inline;
}
.btn{
    display: inline-block;
    border-radius: 13px;
}
.btn-accept{
    background-color: #007bba;
    color: #ffffff;
}
.btn-reject{
    background-color: #e25454;
    color: #ffffff;
    cursor: pointer;
}
.btn-accept:hover {
    background-color: #0f834d;
    transition: 0.5s ease-in-out ;
    cursor: pointer;
}

.table{
    font-size: 15px !important;
}